.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    .title{
        margin-top: 10px 0;
    }
    span{
        color: grey;
    }
    .button{
        display: flex;
        justify-content: space-between;
    }
}

